.detail-container {
  margin: 0;
  padding: 0 10px;
  padding-bottom: 30px;
  width: calc(100% - 20px);
}

.detail-container img {
  width: 100%;
}

h2 {
  color: rgba(134, 38, 51);
}

.recipe-btn {
  background-color: rgba(134, 38, 51);
  border-radius: 5px;
  bottom: 0;
  color: white;
  cursor: pointer;
  display: flex;
  font-weight: 600;
  justify-content: center;
  margin-left: 35%;
  width: 30%;
}
