@media ( min-width : 360px ) {

  body {
    background-color: whitesmoke;
  }

  header {
    text-align: center;
  }

  .header-container {
    align-items: center;
    background-color: rgba(134, 38, 51);
    display: flex;
    flex-wrap: wrap;
    height: 65px;
    justify-content: space-around;
    margin: 0;
  }

  .logo {
    height: 40px;
    margin-right: 50px;
    width: 120px;
  }

  .header-btn {
    background-color: rgba(134, 38, 51);
    border: none;
    color: white;
  }

  .page-title {
    color: rgba(134, 38, 51);
    text-align: center;
  }
}
